@charset "utf-8";
/* CSS Document */
/* --------------------------------------
   CISCO Styles
----------------------------------------- */
body {
	background: #ffffff;
	color: #333333;
  font-size: 14px;
  line-height: 1.42857;
}

/* Page Header Section */
.top-header-strip {
	background: #103d5b none repeat scroll 0 0;
	display: block;
	padding: 10px 0 18px;
}
.header-panel {
	position: relative;
}
.logo-outer, .logo-box, .login-box, .landing-slider-content, .landing-slide-content h2, .landing-slide-content p, .slogan-line, .slogan-line .action-msg, .carousel-outer-box, .flexslider-container, .footer-panel, .cisco-app-list, .ttl-value, .carousel-list .thumbnail {
	transition: all 0.5s ease-in-out 0s;
}
.logo-box {
	background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 0 12px;
	color: #ffffff;
	display: block;
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;
	max-width: 475px;
	min-height: 30px;
	padding: 15px 0 7px 65px;
}
.login-box {
	line-height: 30px;
	text-align: right;
}

/* Page Footer Section */
.footer-panel {
    padding: 15px 0;
}
.footer-panel-list {
    display: block;
    padding: 0;
    text-align: center;
}
.footer-panel-list li {
    background: rgba(0, 0, 0, 0) url("../images/nav-devider-bg.png") no-repeat scroll right 1px;
    display: inline-block;
    height: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-panel-list li a {
    color: #39393b;
    display: block;
    font-family: "ciscosansttextralight";
    font-size: 11px;
    line-height: 12px;
    padding: 0 5px 0 1px;
    text-align: center;
}