body {
	background: #ffffff;
	color: #333333;
  font-size: 14px;
  line-height: 1.42857;
}
.clear{clear: both;}
.marB20{margin-bottom: 20px;}
.marB40{margin-bottom: 40px;}
.header-toolbar .btn.btn--icon.btn--small{min-width: 40px; max-width: 40px; height: 40px;}
/* Page Header Section */
.header {
	
	display: block;
	padding: 1px 0 1px;
}

 .header-bar__logo span.icon-cisco {
        display: block;
        color: #ffffff;
        font-size: 2.1875rem;
        line-height: 1; }

/*.header-heading .page-title {
    color: #ffffff; }*/

      
/* View: Phone list */
.phones {
  list-style: none;
}

.phones li {
    clear: both;
    height: 158px;
    padding-top: 15px;
    vertical-align: top;
    margin-left: 16px;
    max-width: 402px;
    min-width: 243px;
    padding: 18px;
    width: 416px;
    position: relative;
    display: inline-block;
}

.phonesExtra li {
    clear: both;
    height: 158px;
    padding-top: 15px;
    vertical-align: top;
    margin-left: 16px;
    max-width: 402px;
    min-width: 243px;
    padding: 18px;
    width: 416px;
    position: relative;
    display: inline-block;
	background: #e2e2e2;
}
.cartBtn{position: absolute !important;top: 7px;right: -21px;font-size: 22px;}
.gridLink{float:right;}
.gridLink a{padding-right: 5px;font-size: 12px;padding-left: 1px;color: #ec971f;}
.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: Phone detail */
.phone {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phone:first-child {
  display: block;
}
.head-desc{background: none; color: #666;}
.phone-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 400px;
}
.prod-slide{width: 83.70%; float: right; border: 1px solid #049fd9; margin: 0 0 50px 0;}
.prod-thumbs{ float: left;}
.phone-thumbs {
  list-style: none;
  margin: 0;
  padding:0;
  width: 160px;
}
.prod-descri{width: 50%; float: right; background: #049fd9; padding: 20px; height: 450px;}
.phone-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}
.slide-outer{clear: both; margin: 20px 0;}
.phone-thumbs li {
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: block;
  margin: 0 10px 15px 0;
  text-align: center;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: normal;
  font-style: italic;
  font-size: small;
}
.specs dd {
  font-weight: normal;
  font-size: small;
}
ul.item-details{margin: 30px 0 0 0;}
.item-details dd{color: #FFF;}
.tech-detail{padding: 20px; background: #eee; border: 1px solid #CCC;}
.fre-search{padding: 20px; background: #eee; border: 1px solid #CCC; margin: 20px 0 0 0; height:300px;}
.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 300px;  
}

.specs > li > span {
  font-size: 1em;
  font-weight: bold;
}


/*Tree Directive*/
.angular-bootstrap-tree {
    margin-left: 20px;
    display: block;
}

.searchBGNew{height: 105px;border-radius: 106px;width: 66.66666667%;position: relative;top: 13px; padding:2px 20px 10px 20px; float:right;}
.searchInputNew{border-radius:19px; height: 35px;}
.search-icnNew{}
.searchBtnNew{ color: #626262; border-radius: 0px 19px 19px 0px; background: #dfdfe0; font-size: 11px; padding: 10px 16px; outline: none !important; border: none; height:35px;}
.searchBtnTwoNew{background: #f27835; border-radius: 40px;float: right;position: relative;top: -6px;right: 22px;
padding:7px 20px; }
.input-groupNew {position: absolute;
    display: table;
    border-collapse: separate;
    vertical-align: middle;
    top: -3px;
    width: 60%;
    right: 199px;}
.breadcumsec{top: 13px;position: relative;}
.breadcrumb{background:none !important;}
.breadcrumb>li>a{color:#04A1D8;}
.breadcrumb>.active{color:#fff;}
.resultText{margin: 17px 0px 20px -5px;font-size: 14px;}
.breadcrumb > li.active{color:#fff;}

.leftPanel{border-radius:0px !important;background: #049fd9;color: #fff;}

.switch-icon, .switch--icon, .switch{float:right;}
.panel--raised {box-shadow: 0px 0px 0px !important;border-radius: 0px;margin-bottom: -12px;}
ul.phones{padding:0;}
ul.phones li{border:0px solid; border-radius:0px; background:url(../images/cisco-pattern.png)12px 103px no-repeat #fff;padding-left: 19px;}
.sort-check .checkbox__label .checkbox input:checked ~ .checkbox__label,{ color:#FFF;}
.sort-check .checkbox .checkbox__input:before{box-shadow: inset 0 0 0 2px #FFF;}
.sort-check .checkbox:hover{ color:#FFF;}
.sort-check .checkbox:hover, .radio:hover{ color:#FFF;}
.industBT{position: relative;left: 6px;}
.slider-tick.round{border-radius:0px !important;}
.slider-handle.round{border-radius:0px !important;}
.slider-handle{width: 0  !important;
    top: -4px  !important;
    border-right: 5px solid transparent  !important;
    border-left: 5px solid transparent  !important;
    border-top: 5px solid #fff  !important;
	height:0  !important;
	background-color:#049fd9  !important;}

.slider-tick{width: 0 !important;
    top: -4px !important;
    border-right: 5px solid transparent !important;
    border-left: 5px solid transparent !important;
    border-top: 5px solid #fff !important;
	height:0 !important;}
.slider.slider-horizontal {
    height: 20px;
    width: 216px;
    margin-left: 11px;
    margin-top: 10px;
}
.tooltip.top .tooltip-arrow{bottom: 5px ;}
.tooltip-inner{border-radius:4px;padding: 6px 10px;}
.rightCheckbox{color:#fff;}
.rightCheckbox span:hover{color:#fff;}
.rightCheckbox.checkbox input:hover ~ .checkbox__input:before, .checkbox input:hover ~ .radio__input:before, .radio input:hover ~ .checkbox__input:before, .radio input:hover ~ .radio__input:before
{box-shadow: inset 0 0 0 2px #fff !important;}
.rightCheckbox.checkbox .checkbox__input:before, .checkbox .radio__input:before, .radio .checkbox__input:before, .radio .radio__input:before
{box-shadow: inset 0 0 0 2px #fff !important;}
.rightCheckbox.checkbox:hover, .radio:hover{color:#fff;}
.rightCheckbox.checkbox input:checked ~ .checkbox__label, .checkbox input:checked ~ .radio__label, .radio input:checked ~ .checkbox__label, .radio input:checked ~ .radio__label
{color:#fff;}
.rightCheckbox.checkbox .checkbox__input:after, .checkbox .radio__input:after, .radio .checkbox__input:after, .radio .radio__input:after{color:#fff;}
.badge{background-color: #fff;color: #049fd9;}
.badge:hover{color: #049fd9;}



.topRadio.checkbox input:checked ~ .checkbox__label, .checkbox input:checked ~ .radio__label, .radio input:checked ~ .checkbox__label, .radio input:checked ~ .radio__label
{color: #58585b !important;}
.topRadio.checkbox .checkbox__input:before, .checkbox .radio__input:before, .radio .checkbox__input:before, .radio .radio__input:before
{box-shadow:inset 0 0 0 2px #666 !important}
.topRadio.rightCheckbox.checkbox:hover, .radio:hover{color:#58585b !important;}
.topRadio.checkbox input:hover ~ .checkbox__input:before, .checkbox input:hover ~ .radio__input:before, .radio input:hover ~ .checkbox__input:before, .radio input:hover ~ .radio__input:before
{box-shadow:inset 0 0 0 2px #049fd9!important;}
.ratingStar{margin-right:33px!important;}

.rating__star{margin-right: 15px;}



/* View: Phone detail */
.phoneExtra {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.phoneExtra:first-child {
  display: block;
}
.head-desc{background: none; color: #666;}
.phoneExtra-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 400px;
}
.prod-slide{width: 83.70%; float: right; border: 1px solid #049fd9; margin: 0 0 50px 0;}
.prod-thumbs{ float: left;}
.phoneExtra-thumbs {
  list-style: none;
  margin: 0;
  padding:0;
  width: 160px;
}
.prod-descri{width: 50%; float: right; background: #049fd9; padding: 20px; height: 450px; color:#FFF;}
.phoneExtra-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}
.slide-outer{clear: both; margin: 20px 0;}
.phoneExtra-thumbs li {
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: block;
  margin: 0 10px 15px 0;
  text-align: center;
}
.blue-bred{background: #092942; padding: 10px 0 10px 0 ;}
.blue-bred .breadcrumb{margin-bottom:0;}
.blue-bred .breadcrumb > li{color:#FFF;}
.head-desc .icon-exclamation-triangle{color:#ff7300;}
.tech-detail ul.specs li{width:23%;}
.fre-search h5{margin-bottom:10px;}
.fre-category {
    height: 360px !important;
}
.leftPanel .checkbox__label{color:#FFF !important;}
/*alert
.alert {
  height: 40px;
  line-height:30px;
  padding:0px 5px;
}*/