<!-- Page Title -->
<div class="row blue-bred">
    <div class="container">
        <!-- breadcumb -->
            <ul class="breadcrumb">
                <li><a href="#!/home">Home</a></li>
                <li><a href="#!/search">Search</a></li>
                <li><span>Details</span></li>
            </ul>
    </div>
</div>
<!-- /Page Title -->

<div class="container marB40">    
    <div class="panel panel--raised row" ng-repeat="item in hits">
<div class="hero hero--dkblue hero--compressed head-desc">
    <div>
        <div class="hero__content">
            <h2>{{item['_source']['item_number']}} <small class="text-ghost">{{item['_source']['revision']}}</small></h2>
			<h6>{{item['_source']['item_description']}}</h6>

        </div>
        <p>
        <a class="pull-left">
                <i class="alert__icon icon-info-circle" aria-hidden="true"></i>
        </a>&nbsp; This Component has actionable MCNs
        </p>
        <p class="text-warning">
        <a class="pull-left">
                <i class="alert__icon icon-exclamation-triangle" aria-hidden="true"></i>
        </a>&nbsp; This Component have Quality issues from 
                    <a href="#" class="alert-link">TEXAS INSTRUMENTS</a>.  
        </p>
    </div>
</div>
        <div class="panel-body">
			<div>
            <div class="slide-outer">
			<div class="prod-thumbs">
            <ul class="phone-thumbs">
                <li ng-repeat="img in itemImg">
                    <img ng-src="{{img}}" ng-click="setImage(img)" />
                </li>
            </ul>
			</div>
			<div class="prod-slide">
			<div class="phone-images">
                <img ng-src="{{img}}" class="phone" ng-class="{selected: img === mainImageUrl}" ng-repeat="img in itemImg"
                />
				<!--h6> Product Description</h6>
                <p>From the Manufacturer</p-->
            </div>
			<div class="prod-descri">
                <h6> Product Description</h6>
                <p></p>
				<ul class="specs item-details">
                <li>
                    <span>Item Details</span>
                    <dl>
                        <dt>Subclass : {{item['_source']['item_subclass']}}</dt>
                        <dd ></dd>
                        <dt>Part Category : {{item['_source']['item_category']}}</dt>
                        <dd ></dd>
                        <dt>Lifecycle Phase: {{item['_source']['item_lifecycle']}}</dt>
                        <dd ></dd>
                        <dt>Business Unit : {{item['_source']['requesting_bu']}}</dt>
                        <dd></dd>
                    </dl>
                </li>
				</ul>
            </div>
			</div>
			</div>
			</div>

			<div>
			<div class="tech-detail clear">
            <h6 class="marB20"> Technical Details</h6>
            <ul class="specs">
                <li> 
                    <span>Technical</span>                   
                    <dl>
                        <dt>User Item Type : {{item['_source']['user_item_type']}}</dt>
                        <dd></dd>
                        <dt>UOM : {{item['_source']['uom']}} </dt>
                        <dd></dd>
                        <dt>Reliability Grade : {{item['_source']['reliability_grade']}}</dt>
                        <dd></dd> 
                        <dt>L2 Use Condition : {{item['_source']['l2_use_condition']}}</dt>
                        <dd></dd>                         
                    </dl>
                </li>                
                <li>
                    <span>Compliance</span>
                    <dl>
                        <dt>RoHS(i) : {{item['_source']['rohsi']}}</dt>
                        <dd></dd>
                        <dt>RoHS(c) : {{item['_source']['rohsc']}}</dt>
                        <dd></dd>
                        <dt>PbFree: {{item['_source']['pbfree']}}</dt>
                        <dd></dd>
                    </dl>
                </li>
                <li>
                    <span>Regulatory Compliance</span>
                    <dl>
                        <dt>EMC Critical : {{item['_source']['emc_critical']}}</dt>
                        <dd></dd>
                        <dt>NEBS Critical : {{item['_source']['nebs_critical']}}</dt>
                        <dd></dd>
                        <dt>Safety Critical: {{item['_source']['safety_critical']}}</dt>
                        <dd></dd>
                        <dt>Network Critical: {{item['_source']['network_critical']}}</dt>
                        <dd></dd>
                        <dt>IECEx Critical: {{item['_source']['iecex_critical']}}</dt>
                        <dd></dd>
                    </dl>
                </li>
                <li>
                    <span>Sourcing</span>
                    <dl>
                        <dt>Commodity Code : {{item['_source']['commodity_code']}}</dt>
                        <dd></dd>
                        <dt>SuCM : {{item['_source']['sucm']}}</dt>
                        <dd></dd>
                        <dt>Control Code : {{item['_source']['control_code']}}</dt>
                        <dd></dd>
                        <dt>Risk Rating : {{item['_source']['risk_rating']}}</dt>
                        <dd></dd>
                        <dt>Risk Reason Code : {{item['_source']['risk_reason_code']}}</dt>
                        <dd></dd>
                        <dt>Risk Comments : {{item['_source']['risk_comment']}}</dt>
                        <dd></dd>
                    </dl>
                </li>
				<br/><br/>                
            </ul>
             <div class="divider"></div>
                <div class="responsive-table">
                    <h8>Manufacturer</h8>
                    <table class="table table--bordered table--nostripes">
                        <thead>
                            <tr>
                                <th>Mfr. Name</th>
                                <th>Mfr. Lifecycle Phase</th>
                                <th>Mfr. Part Number</th>
                                <th>Qual Status</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr ng-repeat="avl in avlhits | filter : itemNo">
                            <!--<tr ng-repeat="avl in avlhits">--><!-- Use only when you want manufacturer see the manufaturers with near matching -->
                                <td>{{avl['_source']['manufacutrer_name']}}</td>
                                <td>{{avl['_source']['mfr_lifecycle']}}</td>
                                <td>{{avl['_source']['manufacturer_part_no']}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="divider"></div>
                 <div class="responsive-table">
                    <h8>Attachments</h8>
                    <table class="table table--bordered table--nostripes">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>File Description</th>
                                <th>File Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

			</div>
			</div>

            <div class="clear">
            <div class="fre-search fre-category clear">
			<h5>Look for similar items by category</h5>
			<div class="col-xs-6 col-md-3" ng-repeat="freq in altrCPN | limitTo : 4">
                <div class="thumbnail">
                    <a href="#!/items/{{freq.ITEM_NUMBER}}">
                        <img src="images/placeholder.png" alt="{{freq.ITEM_NUMBER}}" style="width: 150px;height: 150px">
                    </a>
                    <div class="caption">
                        <h6>{{freq.ITEM_NUMBER}}</h6><small>&nbsp{{freq.REVISION}}</small>,<small>&nbsp{{freq.ITEM_LIFECYCLE}}</small>
                        <p><small>$&nbsp{{freq.GLO_COST}}</small></p>
                    </div>
                </div>
                </div>
			</div>
			</div>

            <div class="clear">
            <div class="fre-search">
			<h5>Frequently Searched Together</h5>
			<div class="col-xs-6 col-md-3" ng-repeat="freq in $ctrl.freqs">
                <div class="thumbnail">
                    <a href="#">
                        <img src="{{freq.imgpath}}" alt="{{freq.name}}" style="width: 150px;height: 150px">
                    </a>
                    <div class="caption">
                        <h6>{{freq.name}}</h6>
                    </div>
                </div>
                </div>
			</div>
			</div>
        </div>
    </div>
</div>
