<!-- Page Title -->
<div class="row">
    <div class="container">
        <!-- breadcumb -->
        <ul class="breadcrumb">
            <li><a href="#!/home">Home</a></li>
            <li><span>Search</span></li>
        </ul>
        <!-- /breadcumbWrap -->
        <!--<div class="row">
            <h2 class="pull-left">Search</h2>
        </div>-->
        <div class="divider"></div>
        </div>
    </div>
</div>

<!-- /Page Title -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 panel-group panel-group--compressed">
        <div class="panel panel--raised">
    <!--Sidebar content-->
    <form> <!-- Sort Prefernces -->
        <div class="form-group">            
                    <h6>Sort By:</h6>
                <div class="form-group__text select">
                    <select ng-model="orderProp">
                        <option value="item_number">Item</option>
                        <option value="-revision">Revision</option>
                        <option value="-item_category">Category</option>
                    </select>
                </div>
            </div>
    </form>
    <div class="divider"></div>
        <form> <!-- start facet filter panel-->
        <h6>Categories</h6>
        <div data-ng-repeat="agg in agCategories">            
            <label class="checkbox">
                    <input type="checkbox" name="checkbox1">
                    <span class="checkbox__input"></span>
                    <span class="checkbox__label">{{agg.key}}</span>
                    <span class="badge badge--small badge--blue">{{agg.doc_count}}</span>
            </label>            
        </div>
        <div class="divider"></div>
        <h6>Revisions</h6>
        <div data-ng-repeat="agg in agRevisions">            
            <label class="checkbox">
                    <input type="checkbox" name="checkbox1">
                    <span class="checkbox__input"></span>
                    <span class="checkbox__label">{{agg.key}}</span>
                    <span class="badge badge--small badge--blue">{{agg.doc_count}}</span>
            </label>            
        </div>
    </form>
    <!-- Sort Prefernces -->            
    <div class="divider"></div>
    <!-- start facet filter panel-->
    <form> 
        <div ng-if="filteredProducts.length > 0">
            <h6>Lifecycle</h6>
            <div data-ng-repeat="brand in brandsGroup | limitTo: maxBrands" data-ng-if="(filteredProducts | filter:searchTerm | filter:count('item_lifecycle', brand)).length > 0">
                <label class="checkbox">
                    <input type="checkbox" data-ng-model="useBrands[brand]" />
                    <span class="checkbox__input"></span>
                    <span class="checkbox__label">{{brand}}</span>
                    <span class="badge badge--small badge--blue">{{ (filteredProducts | filter:$ctrl.query | filter:count('item_lifecycle', brand)).length }}</span>
                </label>
            </div>
            <span data-ng-show="maxBrands<4" class="link" data-ng-click="maxBrands = 100">More</span> <span data-ng-show="maxBrands>3"
                class="link" data-ng-click="maxBrands = 3">Less</span>
        </div>
        <div class="divider"></div>
        <div ng-if="filteredProducts.length > 0">
            <h6>Category</h6>
            <div>
                <div data-ng-repeat="label in labelsGroup" data-ng-if="(filteredProducts | filter:searchTerm | filter:count('item_category', label)).length > 0">
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="useLabels[label]" />
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label">{{label}}</span>  
                        <span class="badge badge--small badge--blue">{{ (filteredProducts | filter:$ctrl.query | filter:count('item_category', label)).length }}</span> 
                    </label>
                </div>
            </div>
        </div>
    </form>
    <!-- end facet filter panel -->
    <div class="divider"></div>
    <!-- start facet filter--> 
<!--<div class="panel panel-success">
    <div class="panel-heading"><i class="fa fa-chain-broken" aria-hidden="true"></i> Refine By </div>
    <div class="panel-body"> 
        <tree branch="dataLife"></tree> 
        <tree branch="dataCat"></tree>
    </div>
</div>--><!-- Refine By -->
    <div class="panel panel-info">
        <div class="panel-heading"><i class="fa fa-chain-broken" aria-hidden="true"></i> Avg. Customer Review <small>YELP</small></div>
        <div class="panel-body">
        <div class="rating">
            <div class="rating__stars">
                <div class="rating__star" title="5 Stars">
                    <span class="icon-star"></span>
                </div>
                <div class="rating__star" title="4 Stars">
                    <span class="icon-star"></span>
                </div>
                <div class="rating__star" title="3 Stars">
                    <span class="icon-star"></span>
                </div>
                <div class="rating__star" title="2 Stars">
                    <span class="icon-star"></span>
                </div>
                <div class="rating__star" title="1 Star">
                    <span class="icon-star"></span>
                </div>
            </div>
        </div>           
        </div>       
    </div>
    </div>
</div>
    <div class="col-md-8">
    <div class="panel panel--raised">
        <form>
        <div class="form-group">
                <div class="form-group__text">
                    <input id="search" type="search" ng-model="$ctrl.query">
                    <label for="search">Search</label>
                    <button type="button" class="link">
                        <span class="icon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    </br>
    <!-- SiliconExpert -->
    <div class="row">
            <button class="btn btn--primary btn--small pull-right" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Industry Catalog 
        </button>
    </div>
    <div class="row">
            <div class="collapse" id="collapseExample">
                <ul class="phones">
                    <li ng-repeat="item in filteredSiliconProducts" class="thumbnail phone-list-item">
                        <a href="#" class="thumb thumb--huge thumb--square" ng-switch="$index % 3">
                            <img ng-switch-when="0" ng-src="items/images/34-2467-02_gr.PNG" alt="{{item.id}}" />
                            <img ng-switch-when="1" ng-src="items/images/341-0623-01_gr.PNG" alt="{{item.id}}" />
                            <img ng-switch-when="2" ng-src="items/images/34-2615-01_gr.PNG" alt="{{item.id}}" />
                        </a>
                        <a href="#">{{item.part}}</a>
                        <button class="btn btn--primary btn--small btn--icon pull-right">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </button>
                        <p>{{item.supplier}},{{item.cost}}</p>
                        <p>{{item.sellers}}</p>
                    </li>
                </ul>
            </div>
        </div><!-- SiliconExpert -->
    <div class="divider"></div>
    <!-- solr Api-->
    <!--<ul class="phones">
        <li ng-repeat="item in filteredProducts | filter:$ctrl.query | orderBy:orderProp" class="thumbnail phone-list-item">
            <a href="#!/items/{{item.id}}" class="thumb thumb--huge thumb--square" ng-switch="$index % 3">
                <img ng-switch-when="0" ng-src="items/images/34-2467-02_gr.PNG" alt="{{item.id}}" />
                <img ng-switch-when="1" ng-src="items/images/341-0623-01_gr.PNG" alt="{{item.id}}" />
                <img ng-switch-when="2" ng-src="items/images/34-2615-01_gr.PNG" alt="{{item.id}}" />
            </a>
            <a href="#!/items/{{item.id}}">{{item.item_number}}</a><small> {{item.revision}}</small>
            <button class="btn btn--primary btn--small btn--icon pull-right">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </button>
            <p>$xxx,{{item.risk_rating}},{{item.commodity_code}}</p>
            <p>Preffered Supplier</p>
        </li>
    </ul>-->
    <!--es api -->
    <ul class="phones">
        <li ng-repeat="item in hits | filter:$ctrl.query | orderBy:orderProp" class="thumbnail phone-list-item">
            <a href="#!/items/{{item['_source']['id']}}" class="thumb thumb--huge thumb--square" ng-switch="$index % 3">
                <img ng-switch-when="0" ng-src="items/images/34-2467-02_gr.PNG" alt="{{item.id}}" />
                <img ng-switch-when="1" ng-src="items/images/341-0623-01_gr.PNG" alt="{{item.id}}" />
                <img ng-switch-when="2" ng-src="items/images/34-2615-01_gr.PNG" alt="{{item.id}}" />
            </a>
            <a href="#!/items/{{item['_source']['id']}}" class="text-bold">{{item['_source']['item_number']}}</a><small class="text-bold"> {{item['_source']['revision']}}</small>,<small class="text-bold"> {{item['_source']['item_lifecycle']}}</small>
            <button class="btn btn--primary btn--small btn--icon pull-right">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </button>
            <p>$1.0</p>
            <p>Preffered Supplier</p>
        </li>
    </ul><!-- es api-->
    
    </div>

    </div>
  </div>
</div>