<!-- Page Title -->
<div class="row blue-bred">
    <div class="container">
        <!-- breadcumb -->
            <ul class="breadcrumb">
                <li><a href="#!/home">Home</a></li>
                <li><a href="#!/search">Search</a></li>
                <li><span>Details</span></li>
            </ul>
    </div>
</div>
<!-- /Page Title -->

<div class="container marB40">    
    <div class="panel panel--raised row" ng-repeat="item in hits">
        <!--<a class="pull-right">
                <span uib-tooltip="Add to List!"><i class="fa fa-star" aria-hidden="true"></i></span>
        </a>-->
        
        <div class="hero hero--dkblue hero--compressed head-desc col-md-9">
            <div>
                <div class="hero__content">
                    <h2>{{item['_source']['item_number']}} <small class="text-ghost">{{item['_source']['revision']}}</small></h2>
                    <h8>{{item['_source']['item_description']}}</h8>
                </div>
                <p>
                    <a class="pull-left">
                        <i class="alert__icon icon-info-circle" aria-hidden="true"></i>
                    </a>&nbsp;&nbsp;This Component has actionable MCNs&nbsp;:&nbsp;<span ng-repeat="mcn in mcnhits"><a href="#" class="alert-link">{{mcn['_source']['cisco_log']}}</a><span ng-show=" ! $last ">,</span>
                </p>
                <p class="text-warning">
                    <a class="pull-left">
                        <i class="alert__icon icon-exclamation-triangle" aria-hidden="true"></i>
                    </a>&nbsp;&nbsp;This Component have Quality issues from
                    <a href="#" class="alert-link">TEXAS INSTRUMENTS</a>.
                </p>

            </div>
        </div>
        <div class="panel col-md-3">
            <div class="panel-body">
                <a class=" rating__star cartBtn ratingStar" uib-tooltip="Add to List!">
                    <span class="icon-add-contain"></span>
                </a>
                <span class="pull-left" uib-rating ng-model="average_rating" max="max" read-only="isReadonly" state-on="'fa fa-star'" state-off="'fa fa-star-o'"
                    on-hover="hoveringOver(value)" on-leave="getSelectedRating(average_rating)" titles="ratings" aria-labelledby="default-rating"></span>
                <!--<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                                                                        ng-show="overStar && !isReadonly">{{percent}}%</span>-->
                <small>&nbsp;&nbsp;{{totalusers}}&nbsp;<i class="fa fa-user" aria-hidden="true"></i></small><br>
                <hr>
                <button type="button" class="btn btn--icon btn--small btn--primary" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn--icon btn--small btn--secondary"><i class="fa fa-comments-o" aria-hidden="true"></i></button>

                <div uib-collapse="isCollapsed">
                    <form>
                        <div class="form-group">
                            <div class="form-group__text">
                                <textarea id="textarea1" class="form-control" rows="2" placeholder='Share your Comments'></textarea>
                            </div>
                        </div>
                        <button class="btn btn--icon btn--small btn--success" uib-tooltip="Submit">
                                        <span class="icon-check"></span>
                                    </button>
                    </form>

                </div>

            </div>
        </div>
        <div class="panel-body">
			<div>
            <div class="slide-outer">
			<!--<div class="prod-thumbs">
            <ul class="phone-thumbs">
                <li ng-repeat="img in itemImg">
                    <img ng-src="{{img}}" ng-click="setImage(img)" />
                </li>
            </ul>
			</div>-->
			<div class="prod-slide">
			<!--<div class="phone-images">
                <img ng-src="{{img}}" class="phone" ng-class="{selected: img === mainImageUrl}" ng-repeat="img in itemImg"
                />
            </div>-->
			<div class="prod-descri">
                <h6> Product Description</h6>
                <p></p>
                
                <ul class="list list--compressed">
                    <li><i>Subclass :</i> {{item['_source']['item_subclass']}}</li>
                    <li><i>Part Category :</i> {{item['_source']['item_category']}}</li>
                    <li><i>Lifecycle Phase :</i> {{item['_source']['item_lifecycle']}}</li>
                    <li><i>Business Unit :</i> {{item['_source']['requesting_bu']}}</li>
                </ul>
            </div>
			</div>
			</div>
            
			</div>
     
			<div>
			<div class="tech-detail clear">
            <div class="row">
                <h6> Technical Details</h6>
                </br>
                <uib-tabset class="tabs" active="activeJustified" justified="true">
                    <uib-tab index="0" heading=" Technical">
                        </br>
                        <ul class="list list--compressed">
                            <li><i>User Item Type :</i> {{item['_source']['user_item_type']}}</li>
                            <li><i>UOM :</i> {{item['_source']['uom']}}</li>
                            <li><i>Reliability Grade :</i> {{item['_source']['reliability_grade']}}</li>
                            <li><i>L2 Use Condition :</i> {{item['_source']['l2_use_condition']}}</li>
                        </ul>
                    </uib-tab>
                    <uib-tab index="1" heading=" Compliance">
                        </br>
                        <ul class="list list--compressed">
                            <li><i>RoHS(i) :</i> {{item['_source']['rohsi']}}</li>
                            <li><i>RoHS(c) :</i> {{item['_source']['rohsc']}}</li>
                            <li><i>PbFree :</i> {{item['_source']['pbfree']}}</li>
                        </ul>
                    </uib-tab>
                    <uib-tab index="2" heading=" Regulatory Compliance">
                        </br>
                        <ul class="list list--compressed">
                            <li><i>EMC Critical :</i> {{item['_source']['emc_critical']}}</li>
                            <li><i>NEBS Critical :</i> {{item['_source']['nebs_critical']}}</li>
                            <li><i>Safety Critical :</i> {{item['_source']['safety_critical']}}</li>
                            <li><i>Network Critical :</i> {{item['_source']['network_critical']}}</li>
                            <li><i>IECEx Critical :</i> {{item['_source']['iecex_critical']}}</li>
                        </ul>
                    </uib-tab>
                    <uib-tab index="3" heading=" Sourcing">
                        </br>
                        <ul class="list list--compressed">
                            <li><i>Commodity Code :</i> {{item['_source']['commodity_code']}}</li>
                            <li><i>SuCM :</i> {{item['_source']['sucm']}}</li>
                            <li><i>Control Code :</i> {{item['_source']['control_code']}}</li>
                            <li><i>Risk Rating :</i> {{item['_source']['risk_rating']}}</li>
                            <li><i>Risk Reason Code :</i> {{item['_source']['risk_reason_code']}}</li>
                            <li><i>Risk Comments :</i> {{item['_source']['risk_comment']}}</li>
                        </ul>
                    </uib-tab>
                </uib-tabset>                
            </div>
            <!-- Atlanta list:end -->                   


			</div>
			</div>
            </br>
            <div class="clear">
            <div class="panel panel--ltgray">
                <div class="responsive-table">
                    <h6>Manufacturer</h6>
                    <table class="table table--bordered table--nostripes">
                        <thead>
                            <tr>
                                <th>Mfr. Name</th>
                                <th>Mfr. Lifecycle Phase</th>
                                <th>Mfr. Part Number</th>
                                <th>Qual Status</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr ng-repeat="avl in avlhits | filter : itemNo">
                            <!--<tr ng-repeat="avl in avlhits">--><!-- Use only when you want manufacturer see the manufaturers with near matching -->
                                <td>{{avl['_source']['manufacutrer_name']}}</td>
                                <td>{{avl['_source']['mfr_lifecycle']}}</td>
                                <td>{{avl['_source']['manufacturer_part_no']}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            </div>
            </br>
            <div class="panel panel--ltgray">
            <div class="panel-body">
                <h5>Look for similar items by category</h5>
                <ng-owl-carousel class="owl-theme" owl-items="altrCPNs" owl-properties="properties" owl-ready="ready($api)">
                    <div class="item">
                        <h6>.</h6>
                    </div>
                    <div class="item panel" data-ng-repeat="altrCPN in altrCPNs">
                        <!--<h4>{{$index}}</h4>-->
                        <a href="#!/items/{{alterCPNItem}}" class="text-bold">{{alterCPNItem}}</a><br>
                        <small class="text-bold">&nbsp{{altrCPN.REVISION}}</small>,&nbsp
                        <small class="text-bold">&nbsp{{altrCPN.ITEM_LIFECYCLE}}</small><br>                        
                        <small>$&nbsp{{altrCPN.CURRENT_COST}}&nbsp;&nbsp;&nbsp;&nbsp;Risk Rating&nbsp:&nbsp{{item['_source']['risk_rating']}}</small><br>
                        <small>{{altrCPN.ITEM_DESCRIPTION.substring(0,30)}}&nbsp;...</small>
                    </div>
                </ng-owl-carousel>
            </div>
        </div>
        </br>
           <div class="panel panel--ltgray">
            <div class="panel-body">
                <h5>Frequently Searched Together</h5>
                <ng-owl-carousel class="owl-theme" owl-items="$ctrl.freqs" owl-properties="properties" owl-ready="ready($api)">
                    <div class="item">
                        <h6>.</h6>
                    </div>
                    <div class="item panel" data-ng-repeat="freq in $ctrl.freqs">
                        <!--<h4>{{$index}}</h4>-->
                        <a href="#!/items/{{item.name}}" class="text-bold">{{freq.name}}</a><br>
                        <small class="text-bold">&nbsp{{freq.revision}}</small>,&nbsp
                        <small class="text-bold">&nbsp{{freq.lifecycle}}</small><br>                        
                        <small>$&nbsp{{freq.cost}}&nbsp;&nbsp;&nbsp;&nbsp;Risk Rating&nbsp:&nbsp{{freq.riskrating}}</small><br>
                        <small>{{freq.description.substring(0,30)}}&nbsp;...</small>
                    </div>
                </ng-owl-carousel>
            </div>
        </div>			
        </div>
    </div>
</div>