<!-- Page Title -->
<div class="row">
    <div class="container">
        <!-- breadcumb -->
            <ul class="breadcrumb">
                <li><a href="#!/land">Home</a></li>
                <li><a href="#!/items">Search</a></li>
                <li><span>Details</span></li>
            </ul>
        <!-- /breadcumbWrap -->
        <div class="row">
            <h2 class="pull-left">Details</h2>
        </div>
        <div class="divider"></div>
    </div>
</div>
<!-- /Page Title -->
<div class="row">    
    <div class="panel panel-success" ng-repeat="item in item">
        <div class="panel-heading">
            <strong>Item </strong>: {{item.item_number}}
            <button class="btn btn--primary btn--small btn--icon pull-right">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </button>
        </div>
        <div class="panel-body">
            <!-- Alert message for active mcn -->
            <div class="alert alert--info alert-dismissible" role="alert">
                <div class="alert__icon icon-info-circle"></div>
                <div class="alert__message">This Component do have active MCN # 
                <a href="#" class="alert-link">31722</a>.
                </div>
                <div class="alert__close icon-close"><a type="button" class="alert__close icon-close pull-right" data-dismiss="alert" aria-label="Close"></a></div>
                
            </div>
            <!-- Alert message with field failure quantity -->
            <div class="alert alert--warning alert-dismissible" role="alert">
                <div class="alert__icon icon-exclamation-triangle"></div> 
                <div class="alert__message">
                    This Component do have field failure <span class="badge">120</span> from 
                    <a href="#" class="alert-link">TEXAS INSTRUMENTS</a>.  
                </div>              
                <a type="button" class="alert__close icon-close pull-right" data-dismiss="alert" aria-label="Close"></a>
            </div>
        <!--<div class="alert alert--warning">
            <div class="alert__icon icon-exclamation-triangle"></div>
            <div class="alert__message"><strong>Warning!</strong> This Component do have field failure <span class="badge">120</span> from <a href="#" class="link">TEXAS INSTRUMENTS</a> </div>
            <div class="alert__close icon-close"></div>
        </div>-->
            <div class="phone-images">
                <img ng-src="{{img}}" class="phone" ng-class="{selected: img === mainImageUrl}" ng-repeat="img in itemImg"
                />
            </div>

            <h2>{{item.item_number}} <small>{{item.revision}}</small></h2>

            <p>{{item.item_description}}</p>

            <ul class="phone-thumbs">
                <li ng-repeat="img in itemImg">
                    <img ng-src="{{img}}" ng-click="setImage(img)" />
                </li>
            </ul>
            
            <ul class="specs">
                <li>
                    <span>Item Details</span>
                    <dl>
                        <dt>Revision : </dt>
                        <dd >{{item.revision}}</dd>
                        <dt>Subclass : </dt>
                        <dd >{{item.item_subclass}}</dd>
                        <dt>Category : </dt>
                        <dd >{{item.item_category}}</dd>
                        <dt>Lifecycle : </dt>
                        <dd >{{item.item_lifecycle}}</dd>
                    </dl>
                </li>
                <li>
                    <span>Info</span>
                    <dl>
                        <dt>Type : </dt>
                        <dd>{{item.itemtype}}</dd>
                        <dt>UOM : </dt>
                        <dd>{{item.uom}}</dd>
                        <dt>SuCM : </dt>
                        <dd>{{item.sucm}}</dd>
                        <dt>Commodity Code : </dt>
                        <dd>{{item.commodity_code}}</dd>
                    </dl>
                </li>
                <li>
                    <span>Risk</span>
                    <dl>
                        <dt>Risk Rating : </dt>
                        <dd>{{item.risk_rating}}</dd>
                        <dt>Risk Reason : </dt>
                        <dd>{{item.risk_reason_code}}</dd>
                        <dt>Risk Comments : </dt>
                        <dd>{{item.risk_comment}}</dd>
                    </dl>
                </li>
                <li>
                    <span>Compliance</span>
                    <dl>
                        <dt>RoHS(i) : </dt>
                        <dd>{{item.rohsi}}</dd>
                        <dt>RoHS(c) : </dt>
                        <dd>{{item.rohsc}}</dd>
                        <dt>PbFree</dt>
                        <dd>{{item.pbfree}}</dd>
                    </dl>
                </li>
                <li>
                    <span>Vendor and BU</span>
                    <dl>
                        <dt>Manufacturer : </dt>
                        <dd>{{item.manufacturer}}</dd>
                        <dt>Business Unit : </dt>
                        <dd>{{item.requesting_bu}}</dd>
                    </dl>
                </li>
                <li>
                    <span>Size and Weight</span>
                    <dl>
                        <dt>Dimensions : </dt>
                        <dd ng-repeat="dim in $ctrl.item.sizeAndWeight.dimensions">{{dim}}</dd>
                        <dt>Weight : </dt>
                        <dd>{{item.sizeAndWeight.weight}}</dd>
                    </dl>
                </li>
                <li>
                    <span>Display</span>
                    <dl>
                        <dt>Screen size : </dt>
                        <dd>{{item.display.screenSize}}</dd>
                        <dt>Screen resolution : </dt>
                        <dd>{{item.display.screenResolution}}</dd>
                        <dt>Touch screen : </dt>
                        <dd>{{item.display.touchScreen | checkmark}}</dd>
                    </dl>
                </li>
                <li>
                    <span>Royalty Status</span>
                    <dl>
                        <dt> </dt>
                        <dd>{{item.royalty_status}}</dd>                        
                    </dl>
                </li>
                <li>
                    <span>Creation details</span>
                    <dl>
                        <dt>Created By : </dt>
                        <dd>{{item.createdby}}</dd>
                        <dt>Date : </dt>
                        <dd>{{item.createddate}}</dd>
                    </dl>
                </li>
                <li>
                    <span>Additional Features</span>
                    <dd>{{item.additionalFeatures}}</dd>
                </li>
            </ul>
            <div class="divider"></div>
                <div class="panel panel-info">
                    <div class="panel-body">
                        <h5><i class="fa fa-chain-broken" aria-hidden="true"></i> Frequently Searched Together</h5>
                        <div class="col-xs-6 col-md-3" ng-repeat="freq in $ctrl.freqs">
                            <div class="thumbnail">
                            <a href="#">
                                <img src="{{freq.imgpath}}" alt="..." style="width: 150px;height: 150px">
                            </a>
                            <div class="caption">
                                <h6>{{freq.name}}</h6>
                            </div>
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="panel panel-info">
                    <div class="panel-body">
                        <h5><i class="fa fa-chain-broken" aria-hidden="true"></i> Look for similar items by category</h5>
                        <div class="col-xs-6 col-md-3" ng-repeat="itemByCat in $ctrl.itemByCats">
                            <div class="thumbnail">
                            <a href="#">
                                <img src="{{itemByCat.imgpath}}" alt="..." style="width: 150px;height: 150px">
                            </a>
                            <div class="caption">
                                <h6>{{itemByCat.name}}</h6>
                            </div>
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>