<!-- Page Title -->
<div class="row">
    <div class="container">
        <!-- breadcumb -->
            <ul class="breadcrumb">
                <li><span>Home</span></li>
            </ul>
        <!-- /breadcumbWrap -->
        <!--<div class="row">
            <h2 class="pull-left">Home</h2>
        </div>-->
        <div class="divider"></div>
    </div>
</div>
<!-- /Page Title -->
<!--<div class="hero hero--blue">
    <div class="container">
        <div class="hero__content">
            <h1>Design Store Marketplace</h1>
            <p>Search Devices</p>         
        </div>
    </div>
</div>-->
    <div class="row">
        <div class="panel-group panel-group--compressed">
            <div class="panel">
            <form>
                <div class="form-group">
                    <div class="form-group__text">
                        <input id="search" type="search">
                        <label for="search">Search</label>
                        <button type="input" class="link">
                            <a class="btn btn--secondary" ng-href="#!/items"><span class="icon-search"></span>Search</a>
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!--<div class="input-group">
  <input type="text" class="form-control col-md-6" placeholder="Search">
  <span class="input-group-btn">
       <a class="btn btn--primary-ghost" ng-href="#!/items"><span class="icon-search"></span> Search</a>
  </span>
</div>-->