<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <!-- breadcumbWrap -->
        <div class="breadcumbWrap">
            <ol class="breadcrumb">
                <li><a href="#!/land">Home</a></li>
                <li class="active">Home</li>
            </ol>
        </div>
        <!-- /breadcumbWrap -->
        <div class="titleWrap row">
            <h1 class="pull-left page-title">Design Store</h1>
        </div>
    </div>
</div>

<!-- /Page Title -->
<div class="well well-lg">
<div class="input-group">
  <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
  <span class="input-group-btn">
       <a class="btn btn-sm btn-success" ng-href="#!/items">Search!<span class="glyphicon glyphicon-ok"></span></a>
  </span>
</div>
</div>